{{define "base"}}
<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="/static/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/static/fontawesome/css/brands.css" rel="stylesheet">
    <title>Hello</title>
</head>

<body>
    <div class="flex min-h-screen w-full flex-col bg-slate-400 grow word-break">
        <div class="flow-root h-full w-screen text-xl font-bold text-white p-4">
            <div class="float-left">Cohabitaters</div>
            <div class="float-right">
                <form action="/auth/google/login" method="get">
                    <button>
                        Authorize<i class="fa-brands fa-google p-2"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="flex flex-auto">
            <div class="w-40 min-w-[8rem] bg-slate-300"></div>
            <div class="w-full p-2 bg-slate-200">
                {{template "body" .}}
            </div>
        </div>
        <div class="sticky top-[100vh] text-center text-white bg-slate-400">&copy;2022 - Brian Fallik</div>
    </div>
</body>

</html>
{{end}}