<!DOCTYPE html>
<html>

{{ define "head_extra" }}{{ end }}
{{ template "partials/head.html" .}}

<body>
    <div class="flex min-h-screen w-full flex-col grow word-break">
        {{ template "partials/navbar.html" .}}

        <div class="flex flex-auto">
            <div class="w-full p-2 bg-white">
                <p>Oops.</p>
                Something went wrong
            </div>
        </div>

        {{ template "partials/footer.html" .}}
    </div>

    <script src="https://unpkg.com/flowbite@1.5.4/dist/flowbite.js"></script>
</body>

</html>