<!DOCTYPE html>
<html>

{{ define "head_extra" }}{{ end }}
{{ template "partials/head.html" .}}

<body>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div class="flex min-h-screen w-full flex-col grow word-break">
        {{ template "partials/navbar.html" .}}

        <div id="g_id_onload" data-client_id="{{ .ClientID }}" data-login_uri="{{ .LoginURL }}"
            data-auto_prompt="false">
        </div>
        <div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline" data-text="sign_in_with"
            data-shape="rectangular" data-logo_alignment="left">
        </div>

        <div class="flex flex-auto">
            {{ template "partials/sidebar.html" .}}

            <div class="w-full p-2 bg-white">
                <p class="text-xl py-4">Welcome{{ if .WelcomeName }}&nbsp;{{ .WelcomeName }}{{ end }}</p>

                {{if .Groups}}
                <label for="contact-groups" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select
                    an option</label>
                <select id="contact-groups" name="contact-group" hx-get="/partial/tableResults" hx-target="#tbl-results"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-fit p-2.5 pr-8 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option {{ if not $.SelectedResourceName }}selected{{ end }}>Choose a contact group
                    </option>
                    {{range $grp := .Groups}}
                    <option value="{{$grp.ResourceName}}" {{ if eq $grp.ResourceName $.SelectedResourceName
                        }}selected{{end }}>{{$grp.FormattedName}}</option>
                    {{end}}
                </select>
                {{end}}

                <div id="tbl-results">{{ if .TableResults }}{{ template "partials/results.html" . }}{{ end }}</div>

            </div>
        </div>

        {{ template "partials/footer.html" .}}
    </div>

    <script src="https://unpkg.com/flowbite@1.5.4/dist/flowbite.js"></script>
</body>

</html>