package templs

templ PageError() {
	@wrapBody() {
		<div class="flex min-h-screen w-full flex-col grow word-break">
			@PartialNavbar(false)
			<div class="flex flex-auto">
				<div class="w-full p-2 bg-white">
					<p>Oops.</p>
					Something went wrong
				</div>
			</div>
			@PartialFooter()
		</div>
	}
}
