package templs

import (
	"fmt"
	"time"
)

templ PartialFooter() {
	<footer class="p-4 bg-gray-100 rounded-lg shadow md:flex md:items-center md:justify-center md:p-6 dark:bg-gray-800">
		<span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
			<span>{ fmt.Sprintf("© %d", time.Now().Year()) }&nbsp;</span>
			<span><a href="https://bfallik.net/" class="hover:underline">Brian Fallik</a>. All Rights Reserved.</span>
		</span>
	</footer>
}
